:root {
  /* vars */
  --grey-white: #FFF;
  --blur-background: rgba(33, 34, 36, 0.30);
  --grey-2: #E8E7E9;
  --text-paragraph: #212224;
  --text-body: #6E6D79;
  --main-green: #57806E;
  --hover-green-color: #94BEAE;
  --hover-green-secondary-color: #CEEEE3;
}

.blur-layout {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background: var(--blur-background);
  opacity: 1;
  transition: opacity 0.5s;
}

.blur-layout.closed {
  opacity: 0;
  pointer-events: none;
}

.exit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 102;
  transform: translate(-50%, -50%);
  width: 375px;
  height: fit-content;
  padding: 24px;
  background-color: var(--grey-white);
  border: 1px solid var(--grey-2);
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.5s;
}

.exit-modal.closed {
  opacity: 0;
  pointer-events: none;
}

.exit-modal * {
  font-family: Roboto, sans-serif;
}

.exit-modal .img-container {
  padding: 14.5px 0;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit-modal h5 {
  margin: 4px 0;
  color: var(--text-paragraph);
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  line-height: 130%;
}

.exit-modal .spacer {
  display: block;
  margin-bottom: 4px;
  height: 20px;
}

.exit-modal p {
  margin: 4px 0 24px;
  color: var(--text-body);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.exit-modal .btns-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.exit-modal .btns-container button {
  display: flex;
  height: 48px;
  min-width: 286px;
  padding: 12px 36px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--grey-2);
  background-color: transparent;
  color: var(--text-body);
  text-align: center;
  font-family: Jost, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s;
}

.exit-modal .btns-container button.secondary {
  background: var(--grey-white);
}

.exit-modal .btns-container button.secondary:hover {
  background-color: var(--hover-green-secondary-color);
  border-color: var(--hover-green-secondary-color);
}

.exit-modal .btns-container button.primary {
  color: var(--grey-white);
  background: var(--main-green);
}

.exit-modal .btns-container button.primary:hover {
  background-color: var(--hover-green-color);
  border-color: var(--hover-green-color);
}

.exit-modal .close-btn-container button {
  position: absolute;
  top: 16px;
  right: -18px;
  padding: 10px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-white);
  border: 1px solid var(--grey-2);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.5s;
}

.exit-modal .close-btn-container button img {
  transition: transform 0.5s;
  width: 16px;
  height: 16px;
  filter: brightness(0%);
}

.exit-modal .close-btn-container button:active {
  transform: scale(0.9);
}

.exit-modal .close-btn-container button:hover img {
  transform: rotate(180deg);
}
