<re-html>
  <re-options
  >{ "text": { "font-family": "Arial, sans-serif", "font-size": "14px",
    "line-height":"1.5", "color": "#201315" }, "heading": { "font-family":
    "sans-serif","font-weight": "bold", "color": "#201315" } }</re-options
  >
  <re-head>
    <re-title> My Email </re-title>
    <re-font
      href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i"
    ></re-font>
    <re-style>
    
    </re-style>
  </re-head>
  <re-body background-color="#9F9EA6">
    <re-preheader> {@preheader@} </re-preheader>
  
    <re-header background-color="#F7F7F5">
      <re-block align="center" padding="40px 0 0">
        <re-image src="https://peoplevine.blob.core.windows.net/media/1087/soft-logo.png" href="https://www.peoplevine.com/" width="120px"></re-image>
        <re-heading
          font-size="40px"
          align="center"
          font-weight="normal"
          line-height="100%"
          level="h1"
          text-transform="uppercase"
          margin="0 0 40px"
        >
          Booking confirmation
        </re-heading>
        <re-divider height="6px" background-color="#ffffff"></re-divider>
        <re-divider height="1px" background-color="#2013151A"></re-divider>
      </re-block>
    </re-header>
    <re-main background-color="fff">
      <re-block
        align="center"
        padding="80px 0"
      >
        <re-text
          font-size="16px"
          text-transform="uppercase"
          margin="0 0 16px"
        >
          Your appointment is confirmed.
        </re-text>
        <re-text
          font-size="14px"
          margin="0"
          max-width="291px"
          align="left"
        >
          Confirmation number: <b>347582462</b> <br/>
          Chosen Booking: <b>Kizikula Massage</b> <br/>
          Provided services on: <b>Monday, 04/03/2023</b> <br/>
          Price: <b>$110.00</b> <br/>
          Duration: <b>70 minutes</b>
        </re-text>
      </re-block>
    </re-main>
    <re-footer background-color="#F7F7F5">
      <re-block
        align="center"
        padding="0 0 40px"
      >
        <re-divider height="1" background-color="#2013151A"></re-divider>
        <re-divider height="6" background-color="#fff"></re-divider>
        <re-spacer height="40"></re-spacer>
        <re-text align="center" font-size="14px" color="#20131580" margin="0">
          Save this event to your calendar
        </re-text>
        <re-menu align="center">
          <re-menu-item
            font-size="16px"
            text-transform="uppercase"
          >
            ICalendar
          </re-menu-item>
          <re-menu-spacer>&nbsp;&nbsp;</re-menu-spacer>
          <re-menu-item
            font-size="16px"
            text-transform="uppercase"
          >
            Google Calendar
          </re-menu-item>
          <re-menu-spacer>&nbsp;&nbsp;</re-menu-spacer>
          <re-menu-item
            font-size="16px"
            text-transform="uppercase"
          >
            Outlook
          </re-menu-item>
        </re-menu>
      </re-block>
    </re-footer>
  </re-body>
</re-html>


