<re-html>
  <re-options
  >{ "text": { "font-family": "Arial, sans-serif", "font-size": "14px",
    "line-height":"1.5", "color": "#201315" }, "heading": { "font-family":
    "sans-serif","font-weight": "bold", "color": "#111" } }</re-options
  >
  <re-head>
    <re-title> My Email </re-title>
    <re-font
      href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i"
    ></re-font>
    <re-style>
      .header span[data-rex-type="image"] {
      margin-top: 20px;
      transition: margin 0.3s;
      }
      
      .main .main-block .main-subtitle {
      margin: 14px 0 16px;
      transition: margin 0.3s;
      }
      
      .main .main-block p.h1 {
      margin: 0 0 32px;
      transition: margin 0.5s;
      }
  
      .content-column table[data-rex-type="button"] {
        width: 100%;
      }
  
      @media (min-width: 431px) {
      .main .main-block .image-column {
      padding: 0 20px 0 0;
      width: 342px;
      height: 385px;
      overflow: hidden;
      border-radius: 24px 0px 0px 24px;
      }
      .main .main-block .content-column {
      height: 378px;
      border-radius: 0px 24px 24px 0px;
      }
      
      .main .main-block .image-column span,
      .main .main-block .image-column a,
      .main .main-block .image-column img {
      width: 100%;
      height: 100%;
      }
      .main .main-block .image-column img {
      object-fit: cover;
      }
      .footer .menu a:not(:last-of-type) {
      margin: 0 36px 0 0;
      }
      }
      
      @media (max-width: 430px) {
      .header span[data-rex-type="image"] {
      margin-top: 0px;
      }
      
      .main .main-block .main-subtitle {
      margin: 0 0 8px;
      }
  
      .header .block p.h1 {
      font-size: 34px !important;
      }
      
      .main .main-block .content-column {
      height: 378px;
      border-radius: 0px 0px 24px 24px;
      }
      
      .main .main-block .image-column {
      padding: 0 0 20px;
      border-radius: 24px 24px 0px 0px;
      overflow: hidden;
      }
      }
    </re-style>
  </re-head>
  <re-body background-color="#9F9EA6">
    <re-preheader> {@preheader@} </re-preheader>
    <re-header background-color="#F7F7F5">
      <re-block align="center" padding="40px 0 0">
        <re-image src="https://peoplevine.blob.core.windows.net/media/1087/soft-logo.png" href="https://www.peoplevine.com/" width="120px"></re-image>
        <re-spacer height="32px"></re-spacer>
        <re-text
          align="center"
          font-size="16px"
          color="#8B8585"
          line-height="100%"
          text-transform="uppercase"
          margin="0"
          class="header-subtitle"
        >
          Thank you for your event registration
        </re-text>
        <re-heading
          font-size="54px"
          align="center"
          font-weight="normal"
          line-height="100%"
          color="#3C2B24"
          level="h1"
          text-transform="uppercase"
          margin="0 0 40px"
        >
          Event confirmation
        </re-heading>
        <re-divider height="6px" background-color="#ffffff"></re-divider>
        <re-divider height="1px" background-color="#2013151A"></re-divider>
      </re-block>
    </re-header>
    <re-main background-color="#FFFFFF">
      <re-block
        align="center"
        padding="32px 20px"
        class="main-block"
      >
        <re-grid>
          <re-column width="342px" class="image-column">
            <re-image
              src="https://peoplevine.blob.core.windows.net/media/1087/event-confirmation-template-img.png"
              href="https://www.peoplevine.com/"
              responsive="true"
              width="390px"
            ></re-image>
          </re-column>
          <re-column class="content-column" background-color="#F7F7F5" padding="32px 16px">
            <re-text margin="0" color="#20131580">
              Thank you for registering to attend this Event. We look forward to you joining us at this event. More information can be found in your personal account. To read more, please follow the link below. To download your e-ticket, please press the button below.
            </re-text>
            <re-spacer height="8"></re-spacer>
            <re-text
              align="left"
              font-size="12px"
              color="#201315"
              class="main-link"
              margin="0"
            >
              —— &nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://www.peoplevine.com/" style="color:inherit;">Sign up</a>
            </re-text>
            <re-spacer height="64"></re-spacer>
            <re-text font-size="14px" margin="0" data-pv-component="event" data-pv-type="eventView">
              Confirmation number: <b>347582462</b> <br/>
              Chosen Booking: <b>Kizikula Massage</b> <br/>
              Provided services on: <b>Monday, 04/03/2023</b> <br/>
              Price: <b>$110.00</b> <br/>
              Duration: <b>70 minutes</b>
            </re-text>
            <re-spacer height="64"></re-spacer>
            <re-button
              align="left"
              background-color="#F8DE7C"
              color="#201315"
              font-size="16px"
              font-weight="bold"
              text-transform="uppercase"
            >
              Download tickets
            </re-button>
          </re-column>
        </re-grid>
      </re-block>
    </re-main>
    <re-footer  background-color="#F7F7F5">
      <re-block
        align="center"
        padding="0 0 40px"
        class="main-footer-block"
      >
        <re-divider height="1px" background-color="#2013151A"></re-divider>
        <re-divider height="6px" background-color="#ffffff"></re-divider>
        <re-spacer height="40"></re-spacer>
        <re-block padding="8px 32px 0">
          <re-text
            align="center"
            font-size="14px"
            color="#20131580"
            margin="0 0 16px"
          >
            Save this event to your calendar
          </re-text>
          <re-menu align="center">
            <re-menu-item
              font-size="16px"
              text-transform="uppercase"
              color="#201315"
            >
              ICalendar
            </re-menu-item>
            <re-menu-spacer>&nbsp;&nbsp;</re-menu-spacer>
            <re-menu-item
              font-size="16px"
              text-transform="uppercase"
              color="#201315"
            >
              Google Calendar
            </re-menu-item>
            <re-menu-spacer>&nbsp;&nbsp;</re-menu-spacer>
            <re-menu-item
              font-size="16px"
              text-transform="uppercase"
              color="#201315"
            >
              Outlook
            </re-menu-item>
          </re-menu>
        </re-block>
      </re-block>
    </re-footer>
  </re-body>
</re-html>
