<re-html>
  <re-options
  >{ "text": { "font-family": "Arial, sans-serif", "font-size": "12px",
    "line-height":"1.5", "color": "#201315" }, "heading": { "font-family":
    "Arial, sans-serif","font-weight": "bold", "color": "#201315" } }</re-options
  >
  <re-head>
    <re-title> My Email </re-title>
    <re-font
      href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i"
    ></re-font>
    <re-style>
      .main-wrapper table[data-rex-type="button"] {
      width: 322px;
      }
    </re-style>
  </re-head>
  <re-body background-color="#9F9EA6">
    <re-preheader> {@preheader@} </re-preheader>
    <re-header background-color="#F7F7F5">
      <re-block align="center" padding="40px 0 0">
        <re-image src="https://peoplevine.blob.core.windows.net/media/1087/soft-logo.png" href="https://www.peoplevine.com/" width="120px"></re-image>
        <re-spacer height="32px"></re-spacer>
        <re-divider height="6px" background-color="#ffffff"></re-divider>
        <re-divider height="1px" background-color="#2013151A"></re-divider>
      </re-block>
    </re-header>
    <re-main background-color="#FFFFFF">
      <re-block align="center" class="main-wrapper" padding="32px 20px 70px">
        <re-heading
          font-size="24px"
          align="center"
          font-weight="normal"
          line-height="100%"
          color="#3C2B24"
          level="h3"
          text-transform="uppercase"
          margin="0 0 40px"
        >
          password changed
        </re-heading>
        <re-text align="center" margin="0" max-width="557px">
          Dear Customer, <br/>
          You have received this message because your password has been changed.
        </re-text>
        <re-spacer height="24"></re-spacer>
        <re-text align="center" margin="0" font-weight="bold">
          If you did’t request it, please contact our Customer Support.
        </re-text>
        <re-spacer height="48"></re-spacer>
        <re-button
          align="center"
          background-color="#F8DE7C"
          font-size="16px"
          font-weight="bold"
          text-transform="uppercase"
          color="#201315"
        >
          Customer support
        </re-button>
      </re-block>
    </re-main>
    <re-footer background-color="#F7F7F5">
      <re-block align="center" padding="0 0 40px">
        <re-divider height="1px" background-color="#2013151A"></re-divider>
        <re-divider height="6px" background-color="#ffffff"></re-divider>
        <re-spacer height="40"></re-spacer>
        <re-social align="center">
          <re-social-item href="https://instagram.com/" src="https://peoplevine.blob.core.windows.net/media/1087/0d388983-24d7-405d-b0b2-dcc216814d7d/instagram-black.png" width="20px" alt="Instagram"></re-social-item>
          <re-social-spacer>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer>
          <re-social-item href="https://facebook.com/" src="https://peoplevine.blob.core.windows.net/media/1087/7694dfc5-e178-4ee5-b27d-fa3f6f7877b8/fb-black.png" width="20px" alt="Facebook"></re-social-item>
          <re-social-spacer>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer>
          <re-social-item href="https://youtube.com/" src="https://peoplevine.blob.core.windows.net/media/1087/56ff1f84-ecc7-4b9c-9c6d-ccc3abfaeaeb/youtube-black.png" width="20px" alt="Youtube"></re-social-item>
        </re-social>
      </re-block>
    </re-footer>
  </re-body>
</re-html>
