<re-html>
  <re-options>{ "text": { "font-family": "Arial, sans-serif", "font-size": "14px", "line-height":"1.5", "color": "#201315" }, "heading": { "font-family": "sans-serif","font-weight": "bold", "color": "#111" } }</re-options>
  <re-head>
    <re-title>
      My Email
    </re-title>
    <re-font href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i"></re-font>
    <re-style>
      .header span[data-rex-type="image"] {
      margin-bottom: 32px;
      transition: margin 0.3s;
      }
      
      .main-image,
      span:has(.main-image),
      span:has(.main-image) a {
      width: 100% !important;
      }
      
      .text-block {
      padding: 32px 47px;
      }
      
      .text-block table[data-rex-type="button"] {
      width: 390px
      }
      
      @media (max-width: 430px) {
      .header span[data-rex-type="image"] {
      margin-bottom: 16px;
      }
      
      .text-block {
      padding: 32px 24px;
      }
      
      .header-subtitle {
        font-size: 14px !important;
      }
      
      .h1.header-title {
        font-size: 24px !important;
      }
      
      .text-block table[data-rex-type="button"] {
      width: 100%
      }
      }
    </re-style>
  </re-head>
  <re-body background-color="#d8d8d8" padding-top="20px" padding-right="6px" padding-bottom="0px" padding-left="6px">
    <re-preheader>
      {@preheader@}
    </re-preheader>
    <re-header background-color="#F7F7F5">
      <re-block align="center" padding="40px 0 0">
        <re-image src="https://peoplevine.blob.core.windows.net/media/1087/soft-logo.png" href="https://www.peoplevine.com/" width="120px"></re-image>
        <re-text
          align="center"
          font-size="16px"
          color="#8B8585"
          line-height="100%"
          text-transform="uppercase"
          margin="0"
          class="header-subtitle"
        >
          Dear customer, please see your
        </re-text>
        <re-heading
          font-size="40px"
          align="center"
          font-weight="normal"
          line-height="100%"
          color="#3C2B24"
          level="h1"
          text-transform="uppercase"
          margin="0 0 40px"
          class="header-title"
        >
          reservation confirmation
        </re-heading>
        <re-divider height="6px" background-color="#ffffff"></re-divider>
        <re-divider height="1px" background-color="#2013151A"></re-divider>
      </re-block>
    </re-header>
    <re-main background-color="#ffffff">
      <re-block border-radius="0px" align="left" padding="40px 20px 0" background-color="#ffffff">
        <re-image
          src="https://peoplevine.blob.core.windows.net/media/1087/c8cb9130-0b88-4739-b870-bd1095319e80/reservation-confirmation-soft-image.png"
          class="main-image"
        ></re-image>
        <re-spacer height="16"></re-spacer>
        <re-text align="left" color="#20131580">
          We look forward to seeing your shortly! <br/>
          Your tour is scheduled for <b style="color: #201315;">23/03/2023</b> at <b style="color: #201315;">14:00</b>, apartment: <b style="color: #201315;">King’s Suite.</b> <br/>
          <br/>
          If you are unable to attend, please do let us know by emailing us at this email. <br/>
          <br/>
          See you soon!
        </re-text>
        <re-spacer height="48"></re-spacer>
        <re-button
          align="center"
          background-color="#F8DE7C"
          font-size="16px"
          font-weight="bold"
          text-transform="uppercase"
          color="#201315"
          width="387px"
        >
          view your reservation
        </re-button>
      </re-block>
    </re-main>
    <re-footer background-color="#ffffff">
      <re-block align="center" background-color="#ffffff" padding="60px 0 40px">
        <re-divider height="1px" background-color="#2013151A"></re-divider>
        <re-spacer height="24"></re-spacer>
        <re-menu align="center">
          <re-menu-item
            font-size="16px"
            color="#201315"
            font-weight="bold"
            text-transform="uppercase"
          >
            instagram
          </re-menu-item>
          <re-menu-spacer>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-menu-spacer>
          <re-menu-item
            font-size="16px"
            color="#201315"
            font-weight="bold"
            text-transform="uppercase"
          >
            facebook
          </re-menu-item>
          <re-menu-spacer>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-menu-spacer>
          <re-menu-item
            font-size="16px"
            color="#201315"
            font-weight="bold"
            text-transform="uppercase"
          >
            youtube
          </re-menu-item>
        </re-menu>
      </re-block>
    </re-footer>
  </re-body>
</re-html>

<script>
  if (getCookie("membershipSKU") === "GRANT") {
    $('.bg-primary').addClass('bg-grant')
    $('.text-orange').addClass('text-grant')
    $('.bg-dark').addClass('bg-grant')
    $('.bg-dark').removeClass("bg-dark")
    $('a.edit-profile').attr('href', function(index, href) {
      return href + '?g=Y';
    });
    
  }
</script>
