<re-html>
  <re-options
  >{ "text": { "font-family": "Arial, sans-serif", "font-size": "14px",
    "line-height":"1.5", "color": "#3C2B24" }, "heading": { "font-family":
    "sans-serif","font-weight": "bold", "color": "#111" } }</re-options
  >
  <re-head>
    <re-title> My Email </re-title>
    <re-font
      href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i"
    ></re-font>
    <re-style>
    
    </re-style>
  </re-head>
  <re-body background-color="#9F9EA6">
    <re-preheader> {@preheader@} </re-preheader>
    <re-header background-color="#E5D5C6">
      <re-block
        align="center"
        padding="40px 0 0"
        background-color="#E5D5C6"
      >
        <re-image
          src="https://peoplevine.blob.core.windows.net/media/1153/695afd4e-ac11-4503-9851-a631c1ada0e6/Mask_group.png"
          href="https://www.peoplevine.com/"
          width="102px"
        ></re-image>
        <re-spacer height="16px"></re-spacer>
        <re-divider height="1px" background-color="#3C2B2480"></re-divider>
      </re-block>
    </re-header>
    <re-main background-color="E5D5C6">
      <re-block
        align="center"
        background-color="#E5D5C6"
        padding="56px 0"
      >
        <re-heading
          align="center"
          font-size="40px"
          font-weight="normal"
          line-height="100%"
          level="h1"
          text-transform="uppercase"
          margin="0 0 32px"
        >
          Booking confirmation
        </re-heading>
        <re-text
          font-size="16px"
          text-transform="uppercase"
          margin="0 0 16px"
        >
          Your appointment is confirmed.
        </re-text>
        <re-text
          font-size="14px"
          margin="0"
          max-width="291px"
          align="left"
        >
          Confirmation number: <b>347582462</b> <br/>
          Chosen Booking: <b>Kizikula Massage</b> <br/>
          Provided services on: <b>Monday, 04/03/2023</b> <br/>
          Price: <b>$110.00</b> <br/>
          Duration: <b>70 minutes</b>
        </re-text>
      </re-block>
    </re-main>
    <re-footer background-color="#E5D5C6">
      <re-block
        align="center"
        background-color="#E5D5C6"
        padding="0 0 300px"
      >
        <re-divider height="1px" background-color="#3C2B2480"></re-divider>
        <re-block padding="16px 32px 0">
          <re-text align="center" font-size="14px" color="#3C2B2480" margin="0 0 16px">
            Save this event to your calendar
          </re-text>
          <re-menu align="center">
            <re-menu-item
              font-size="16px" text-transform="uppercase"
            >
              ICalendar
            </re-menu-item>
            <re-menu-spacer>&nbsp;&nbsp;</re-menu-spacer>
            <re-menu-item
              font-size="16px" text-transform="uppercase"
            >
              Google Calendar
            </re-menu-item>
            <re-menu-spacer>&nbsp;&nbsp;</re-menu-spacer>
            <re-menu-item
              font-size="16px" text-transform="uppercase"
            >
              Outlook
            </re-menu-item>
          </re-menu>
        </re-block>
      </re-block>
    </re-footer>
  </re-body>
</re-html>


