<re-html>
  <re-options
    >{ "text": { "font-family": "sans-serif", "font-size": "14px",
    "line-height":"1.5", "color": "#3C2B2480" }, "heading": { "font-family":
    "sans-serif","font-weight": "bold", "color": "#111" } }</re-options
  >
  <re-head>
    <re-title> My Email </re-title>
    <re-font
      href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i"
    ></re-font>
    <re-style>
      .main .h2 {
        margin: 0 0 64px;
      }
      
      .main .button-block {
        padding: 40px 0 0;
      }
      
      .footer .footer-container {
        padding: 64px 20px 44px;
      }
  
      .footer .grid .column:first-of-type a {
        text-decoration: none !important;
      }
      
      .header-image,
      span:has(.header-image),
      span:has(.header-image) a {
        width: 100% !important;
      }
      
      @media (max-width: 430px) {
        .main .h2 {
          font-size: 24px !important;
          margin: 0 0 40px;
        }
  
        .main .button-block {
          padding: 8px 0 0;
        }
  
        .footer .footer-container {
          padding: 64px 20px 21px;
        }
  
        .footer .grid .column:first-of-type {
          margin-bottom: 32px;
        }
    
        .footer .grid .column:last-of-type p {
          text-align: left;
        }
      }
    </re-style>
  </re-head>
  <re-body background-color="#9F9EA6">
    <re-preheader> {@preheader@} </re-preheader>
    <re-header background-color="#E5D5C6">
      <re-block>
        <re-image
          src="https://peoplevine.blob.core.windows.net/media/1153/imagesralph-ravi-kayden-FqqiAvJejto-unsplash.jpg"
          width="744px"
          class="header-image"
        ></re-image>
      </re-block>
    </re-header>
    <re-main background-color="#E5D5C6" border-radius="6px">
      <re-block
        border-radius="0px"
        align="left"
        padding="32px 20px 0px"
        background-color="#E5D5C6"
      >
        <re-heading align="left" font-size="40px" color="#3C2B24" level="h2" class="main-title">
          GENERAL RULES <br/> AND INFORMATION ABOUT OUR SUMMER CLUB
        </re-heading>
        <re-text align="left" color="#3C2B24" font-size="16px" margin="0 0 16px">
          DEAR CUSTOMER
        </re-text>
        <re-text align="left" margin="0">
          I hope this message finds you well. We are writing to inform you about
          some important changes to the rules and regulations of our property.
          These changes have been made to ensure the safety and well-being of
          our residents, visitors, and staff.<br />
          Effective immediately, the following rules will be in place:<br />
        </re-text>
        <re-spacer height="24px"></re-spacer>
        <re-list align="left" type="ordered">
          <re-list-item>
            Mask Wearing: All individuals entering our property must wear a mask
            or other appropriate face covering. Masks must be worn in all common
            areas, including the lobby, elevators, and hallways.
          </re-list-item>
          <re-list-item>
            Social Distancing: We ask that all individuals maintain a distance
            of at least six feet from others who are not in their household.
            This includes in common areas, such as the gym and pool.
          </re-list-item>
          <re-list-item>
            Visitors: Each apartment is allowed a maximum of two visitors at any
            given time. Visitors must comply with our mask and social distancing
            policies.
          </re-list-item>
          <re-list-item>
            Fitness Center and Pool: The fitness center and pool will be open
            with limited capacity to allow for social distancing. Reservations
            will be required to use these facilities.
          </re-list-item>
        </re-list>
        <re-spacer height="24px"></re-spacer>
        <re-text align="left" margin="0">
          We appreciate your cooperation in following these new rules. These
          policies are in place to ensure the safety of all individuals on our
          property. Failure to comply with these rules may result in
          disciplinary action.<br />
          If you have any questions or concerns, please do not hesitate to
          contact us. We value your tenancy and thank you for your understanding
          and cooperation during these challenging times.
        </re-text>
        <re-spacer height="16px"></re-spacer>
        <re-text align="left" color="#3C2B24" font-size="14px" class="main-link" margin="0">
          —— &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://peoplevine.com/" style="color: #3C2B24"
            >Please follow this link to read more.</a
          ><br />
        </re-text>
        <re-spacer height="16px"></re-spacer>
        <re-text align="left" color="#908075" font-size="14px" margin="0">
          Sincerely,<br />
          Club Name<br />
        </re-text>
        <re-spacer height="32px"></re-spacer>
      </re-block>
      <re-block
        align="left"
        padding="0 20px"
        background-color="#E5D5C6"
      >
        <re-image
          src="https://peoplevine.blob.core.windows.net/media/1153/695afd4e-ac11-4503-9851-a631c1ada0e6/Mask_group.png"
          width="65px"
        ></re-image>
      </re-block>
      <re-block align="center" background-color="#E5D5C6" class="button-block">
        <re-button
          background-color="#E19C5C"
          border="1px solid #E19C5C"
          font-size="16px"
          text-transform="uppercase"
        >
          View Profile
        </re-button>
      </re-block>
    </re-main>
    <re-footer background-color="#E5D5C6">
      <re-block
        align="center"
        background-color="#E5D5C6"
        class="footer-container"
      >
        <re-social
          align="left"
          margin="0 0 16px"
        >
          <re-social-item
            href="https://facebook.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/instagram.png"
            width="24px"
            alt="Facebook"
          ></re-social-item>
          <re-social-spacer
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer
          >
          <re-social-item
            href="https://twitter.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/fb.png"
            width="24px"
            alt="Twitter"
          ></re-social-item>
          <re-social-spacer
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer
          >
          <re-social-item
            href="https://instagram.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/youtube-dark.png"
            width="24px"
            alt="Instagram"
          ></re-social-item>
        </re-social>
        <re-grid>
          <re-column>
            <re-text margin="0 0 8px" color="#3C2B24" font-size="12px" align="left" text-decoration="none">
              Mailing address is:
              <a style="color: inherit; text-decoration: none" href="SomeEmail@gmail.com">SomeEmail@gmail.com</a>
            </re-text>
            <re-text color="#3C2B24" font-size="12px" align="left" margin="0">
              Copyright (c). All rights reserved.
            </re-text>
          </re-column>
          <re-column>
            <re-text align="right" margin="0 0 8px" color="#3C2B24" font-size="12px">
              Want to change how you receive these emails?
            </re-text>
            <re-text align="right" color="#3C2B24" font-size="12px" margin="0">
              You can <a style="color: inherit" href="https://www.peoplevine.com/">unsubscribe</a> from this email list.
            </re-text>
          </re-column>
        </re-grid>
      </re-block>
    </re-footer>
  </re-body>
</re-html>
