<re-html>
  <re-options
    >{ "text": { "font-family": "sans-serif", "font-size": "18px",
    "line-height":"1.5", "color": "#222" }, "heading": { "font-family":
    "sans-serif","font-weight": "bold", "color": "#111" } }</re-options
  >
  <re-head>
    <re-title> My Email </re-title>
    <re-font
      href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i"
    ></re-font>
  </re-head>
  <re-body background-color="#9F9EA6">
    <re-preheader> {@preheader@} </re-preheader>
    <re-header>
      <re-block>
        <re-image
          src="https://peoplevine.blob.core.windows.net/media/1153/imagesralph-ravi-kayden-FqqiAvJejto-unsplash.jpg"
          width="600px"
        ></re-image>
      </re-block>
    </re-header>
    <re-main background-color="#fff" border-radius="6px">
      <re-block
        border-radius="0px"
        align="left"
        padding="44px 24px 0px 24px"
        background-color="#E5D5C6"
      >
        <re-text align="left" font-size="24px" color="#3C2B24">
          <b>GENERAL RULES AND INFORMATION ABOUT OUR SUMMER CLUB</b>
        </re-text>
        <re-spacer height="32px"></re-spacer>
        <re-text align="left" color="#3C2B24" font-size="16px">
          DEAR CUSTOMER
        </re-text>
        <re-spacer height="24px"></re-spacer>
        <re-text align="left" color="#908075" font-size="14px">
          I hope this message finds you well. We are writing to inform you about
          some important changes to the rules and regulations of our property.
          These changes have been made to ensure the safety and well-being of
          our residents, visitors, and staff.<br />
          Effective immediately, the following rules will be in place:<br />
        </re-text>
        <re-spacer height="24px"></re-spacer>
        <re-list align="left" type="ordered" color="#908075" font-size="14px">
          <re-list-item>
            Mask Wearing: All individuals entering our property must wear a mask
            or other appropriate face covering. Masks must be worn in all common
            areas, including the lobby, elevators, and hallways.
          </re-list-item>
          <re-list-item>
            Social Distancing: We ask that all individuals maintain a distance
            of at least six feet from others who are not in their household.
            This includes in common areas, such as the gym and pool.
          </re-list-item>
          <re-list-item>
            Visitors: Each apartment is allowed a maximum of two visitors at any
            given time. Visitors must comply with our mask and social distancing
            policies.
          </re-list-item>
          <re-list-item>
            Fitness Center and Pool: The fitness center and pool will be open
            with limited capacity to allow for social distancing. Reservations
            will be required to use these facilities.
          </re-list-item>
        </re-list>
        <re-spacer height="24px"></re-spacer>
        <re-text align="left" color="#908075" font-size="14px">
          We appreciate your cooperation in following these new rules. These
          policies are in place to ensure the safety of all individuals on our
          property. Failure to comply with these rules may result in
          disciplinary action.<br />
          <br />
          If you have any questions or concerns, please do not hesitate to
          contact us. We value your tenancy and thank you for your understanding
          and cooperation during these challenging times.
        </re-text>
        <re-spacer height="24px"></re-spacer>
        <re-text align="left" color="#908075" font-size="14px">
          —
          <a href="https://peoplevine.com/" style="color: rgb(0, 145, 255)"
            >Please follow this link to read more.</a
          ><br />
        </re-text>
        <re-spacer height="24px"></re-spacer>
        <re-text align="left" color="#908075" font-size="14px">
          Sincerely,<br />
          Club Name<br />
        </re-text>
        <re-spacer height="40px"></re-spacer>
      </re-block>
      <re-block
        align="left"
        padding="12px 24px 12px 24px"
        background-color="#E5D5C6"
      >
        <re-image
          src="https://peoplevine.blob.core.windows.net/media/1153/695afd4e-ac11-4503-9851-a631c1ada0e6/Mask_group.png"
          width="65px"
        ></re-image>
      </re-block>
      <re-block padding="10px 20px" align="center" background-color="#E5D5C6">
        <re-button
          background-color="#E19C5C"
          border="1px solid #E19C5C"
          font-size="16px"
        >
          View Profile
        </re-button>
        <re-spacer height="32px"></re-spacer>
      </re-block>
    </re-main>
    <re-footer>
      <re-block
        align="center"
        padding-top="50px"
        padding-right="60px"
        padding-bottom="60px"
        padding-left="60px"
        background-color="#E5D5C6"
        padding="12px 24px 24px 24px"
      >
        <re-social
          margin-top="40px"
          margin-right="0"
          margin-bottom="40px"
          margin-left="0"
          align="center"
        >
          <re-social-item
            href="https://facebook.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/instagram.png"
            width="24px"
            alt="Facebook"
          ></re-social-item>
          <re-social-spacer
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer
          >
          <re-social-item
            href="https://twitter.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/fb.png"
            width="24px"
            alt="Twitter"
          ></re-social-item>
          <re-social-spacer
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer
          >
          <re-social-item
            href="https://instagram.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/youtube-dark.png"
            width="24px"
            alt="Instagram"
          ></re-social-item>
        </re-social>
        <re-spacer height="24px"></re-spacer>
        <re-text color="#3C2B24" font-size="13px" align="center">
          Copyright © 2023 Company Name All rights reserved<br />
        </re-text>
        <re-spacer height="12px"></re-spacer>
        <re-text color="#3C2B24" font-size="13px" align="center">
          You can unsubscribe from this email list
          <a
            href="https://www.peoplevine.com/"
            target="_blank"
            style="color: #3c2b24"
            >here</a
          >&nbsp;
        </re-text>
      </re-block>
    </re-footer>
  </re-body>
</re-html>
