<re-html>
  <re-options
  >{ "text": { "font-family": "sans-serif", "font-size": "18px",
    "line-height":"1.5", "color": "#222" }, "heading": { "font-family":
    "sans-serif","font-weight": "bold", "color": "#111" } }</re-options
  >
  <re-head>
    <re-title> My Email </re-title>
    <re-font
      href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i"
    ></re-font>
    <re-style>
      .main .main-block {
        padding: 80px 186px 93px;
      }
      
      @media (max-width: 430px) {
        .main .main-block {
          padding: 80px 20px 93px;
        }
      
        .main .main-button {
          width: 310px;
        }
      }
    </re-style>
  </re-head>
  <re-body background-color="#9F9EA6">
    <re-preheader> {@preheader@} </re-preheader>
    <re-header background-color="#E5D5C6">
      <re-block
        align="center"
        padding="64px 0 0"
        background-color="#E5D5C6"
      >
        <re-image
          src="https://peoplevine.blob.core.windows.net/media/1153/695afd4e-ac11-4503-9851-a631c1ada0e6/Mask_group.png"
          href="https://www.peoplevine.com/"
          width="61px"
          margin="0 0 14px"
        ></re-image>
        <re-text
          align="center"
          font-size="16px"
          color="#20131580"
          margin="0"
          text-transform="uppercase"
        >
          Dear customer
        </re-text>
        <re-heading
          margin="0 0 24px"
          align="center"
          font-size="32px"
          font-weight="normal"
          line-height="100%"
          color="#2B2D1F"
          level="h1"
          text-transform="uppercase"
        >
          Guest pass received
        </re-heading>
        <re-divider height="2px" background-color="#FDFDFD"></re-divider>
      </re-block>
    </re-header>
    <re-main background-color="E5D5C6" border-radius="6px">
      <re-block
        border-radius="0px"
        align="center"
        background-color="#E5D5C6"
        class="main-block"
      >
        
        <re-text align="left" color="#3C2B24" font-size="12px" class="main-text" margin="0 17px 8px">
          You have just received a Super Pass.<br/>
          <br/>
          Gift your Guest Pass to a friend for them to try out this for Free.<br/>
          <br/>
          Click on the following link to gift your Pass to a friend now.
        </re-text>
        <re-text align="left" font-size="12px" color="#3C2B24" class="main-link" margin="0 17px 48px">
          —— &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#" style="color:inherit;">More Information and our Rules</a>
        </re-text>
        <re-button
          background-color="#E19C5C"
          border="1px solid #E19C5C"
          font-size="16px"
          text-transform="uppercase"
          class="main-button"
        >
          Gift a Guest pass now!
        </re-button>
      </re-block>
    </re-main>
    <re-footer background-color="#E5D5C6">
      <re-block
        align="center"
        padding="16px 0"
        background-color="#D9C4B0"
        class="main-footer-block"
      >
        <re-social align="center">
          <re-social-item
            href="https://facebook.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/instagram.png"
            width="24px"
            alt="Facebook"
          ></re-social-item>
          <re-social-spacer>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer>
          <re-social-item
            href="https://twitter.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/fb.png"
            width="24px"
            alt="Twitter"
          ></re-social-item>
          <re-social-spacer>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer>
          <re-social-item
            href="https://instagram.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/youtube-dark.png"
            width="24px"
            alt="Instagram"
          ></re-social-item>
        </re-social>
        <re-spacer height="16px"></re-spacer>
        <re-divider height="2px" background-color="#FDFDFD"></re-divider>
        <re-spacer height="16px"></re-spacer>
        <re-text
          color="#3C2B24"
          font-size="12px"
          line-height="21px"
          align="center"
          margin="0"
          max-width="123px"
        >
          Apre Pass Company
          27459 Sky Square 456
          Jupiter, BC X4Y 1DF
          (034) 364-3456
        </re-text>
      </re-block>
    </re-footer>
  </re-body>
</re-html>

