<re-html>
  <re-options
  >{ "text": { "font-family": "Arial, sans-serif", "font-size": "14px",
    "line-height":"1.5", "color": "#3C2B24" }, "heading": { "font-family":
    "sans-serif","font-weight": "bold", "color": "#3C2B24" } }</re-options
  >
  <re-head>
    <re-title> My Email </re-title>
    <re-font
      href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i"
    ></re-font>
    <re-style>
      .main-block {
        padding: 40px 20px 0;
      }
      
      .main .button-block .column:first-of-type {
        padding: 0 32px 0 96px;
      }
  
      .main .button-block table[data-rex-type="button"] {
        width: 240px;
      }
      
      .footer .footer-container {
      padding: 64px 20px 44px;
      }
      
      .footer .grid .column:first-of-type a {
      text-decoration: none !important;
      }
      
      .header-image,
      span:has(.header-image),
      span:has(.header-image) a {
      width: 100% !important;
      }
      
      @media (max-width: 430px) {
      .main-block {
      padding: 32px 20px 0;
      }
      
      .main .block-image {
        padding: 0 0 40px;
      }
  
      .main .button-block .column:first-of-type {
      padding: 0 0 24px;
      }
  
      .main .button-block table[data-rex-type="button"] {
      width: 100%;
      }
      
      .footer .footer-container {
      padding: 64px 20px 21px;
      }
      
      .footer .grid .column:first-of-type {
      margin-bottom: 32px;
      }
      
      .footer .grid .column:last-of-type p {
      text-align: left;
      }
      }
    </re-style>
  </re-head>
  <re-body background-color="#9F9EA6">
    <re-preheader> {@preheader@} </re-preheader>
    <re-header background-color="#E5D5C6">
      <re-block>
        <re-image
          src="https://peoplevine.blob.core.windows.net/media/1087/membership-renewal-image.png"
          width="744px"
          class="header-image"
        ></re-image>
      </re-block>
    </re-header>
    <re-main background-color="#E5D5C6" border-radius="6px">
      <re-block
        border-radius="0px"
        align="left"
        background-color="#E5D5C6"
        class="main-block"
      >
        <re-heading
          align="left"
          margin="0 0 40px"
          font-size="40px"
          level="h2"
          class="main-title"
          text-transform="uppercase"
        >
          Membership renewal
        </re-heading>
        <re-text
          align="left"
          font-size="16px"
          margin="0 0 16px"
          text-transform="uppercase"
        >
          Dear valued Customer,
        </re-text>
        <re-text align="left" margin="0">
          We hope this message finds you well.<br/>
          We would like to remind you that your hotel membership is due for renewal soon. As a valued member, we would like to thank you for your loyalty and continued patronage. <br/>
          <br/>
          Renewing your membership will allow you to continue enjoying the many benefits and perks that come with being a member, including discounted rates, exclusive promotions, and access to our premium amenities. <br/>
          <br/>
          To renew your membership, please visit our website or contact our membership services team for assistance.<br/>
          We look forward to your continued membership with us and providing you with exceptional experiences during your stays. <br/>
          <br/>
          Your Details:<br/>
          Membership Type: <b>Silver</b><br/>
          Membership Fee: <b>$110/month</b><br/>
          Member: <b>Jack London</b><br/>
          <br/>
          Thank you for your continued support.<br/>
          <br/>
          Best regards,<br/>
          Hotel Team
        </re-text>
        <re-spacer height="16px"></re-spacer>
        <re-text
          align="left"
          color="#3C2B24"
          font-size="12px"
          class="main-link"
          margin="0"
        >
          —— &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://peoplevine.com/" style="color: #3C2B24"
          >Please, see our website</a
          ><br />
        </re-text>
        <re-spacer height="40px"></re-spacer>
        <re-block
          align="left"
          background-color="#E5D5C6"
          class="block-image"
        >
          <re-image
            src="https://peoplevine.blob.core.windows.net/media/1153/695afd4e-ac11-4503-9851-a631c1ada0e6/Mask_group.png"
            width="65px"
          ></re-image>
        </re-block>
        <re-block class="button-block">
          <re-grid>
            <re-column>
              <re-button
                background-color="#E5D5C6"
                border="1px solid #E19C5C"
                color="#3C2B24"
                font-size="16px"
                text-transform="uppercase"
                border-radius="32px"
              >
                Update payment
              </re-button>
            </re-column>
            <re-column width="50%">
              <re-button
                background-color="#E19C5C"
                border="1px solid #E19C5C"
                font-size="16px"
                text-transform="uppercase"
                border-radius="32px"
              >
                Pay now
              </re-button>
            </re-column>
          </re-grid>
        </re-block>
      </re-block>
    </re-main>
    <re-footer background-color="#E5D5C6">
      <re-block
        align="center"
        background-color="#E5D5C6"
        padding="80px 0 47px"
      >
        <re-divider height="1px" background-color="#3C2B2480"></re-divider>
        <re-spacer></re-spacer>
        <re-social align="center">
          <re-social-item
            href="https://facebook.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/instagram.png"
            width="24px"
            alt="Facebook"
          ></re-social-item>
          <re-social-spacer>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer>
          <re-social-item
            href="https://twitter.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/fb.png"
            width="24px"
            alt="Twitter"
          ></re-social-item>
          <re-social-spacer>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer>
          <re-social-item
            href="https://instagram.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/youtube-dark.png"
            width="24px"
            alt="Instagram"
          ></re-social-item>
        </re-social>
      </re-block>
    </re-footer>
  </re-body>
</re-html>

