<re-html>
  <re-options
    >{ "text": { "font-family": "sans-serif", "font-size": "18px",
    "line-height":"1.5", "color": "#222" }, "heading": { "font-family":
    "sans-serif","font-weight": "bold", "color": "#111" } }</re-options
  >
  <re-head>
    <re-title> My Email </re-title>
    <re-font
      href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i"
    ></re-font>
  </re-head>
  <re-body background-color="#9F9EA6">
    <re-preheader> {@preheader@} </re-preheader>
    <re-header background-color="#E5D5C6">
      <re-block
        align="center"
        padding="52px 52px 0px 52px"
        background-color="#E5D5C6"
      >
        <re-image
          src="https://peoplevine.blob.core.windows.net/media/1153/695afd4e-ac11-4503-9851-a631c1ada0e6/Mask_group.png"
          href="https://www.peoplevine.com/"
          width="95px"
        ></re-image>
      </re-block>
    </re-header>
    <re-main background-color="E5D5C6" border-radius="6px">
      <re-block
        border-radius="0px"
        align="center"
        padding="44px 24px 0px 24px"
        background-color="#E5D5C6"
      >
        <re-text align="center" font-size="20px" color="#3C2B24">
          YOU HAVE A NEW INVOICE&nbsp;
        </re-text>
        <re-text
          align="center"
          font-size="76px"
          line-height="90px"
          margin="0px 0px 10px 0px"
          color="#3C2B24"
        >
          INVOICED
        </re-text>
        <re-spacer height="32px"></re-spacer>
        <re-text align="left" color="#908075" font-size="16px">
          You have a new invoice in the amount of $1500. If you want to see
          details before payment, please click below.
        </re-text>
        <re-spacer height="32px"></re-spacer>
        <re-button
          background-color="#E19C5C"
          border="1px solid #E19C5C"
          font-size="16px"
        >
          View Invoice
        </re-button>
        <re-spacer height="40px"></re-spacer>
      </re-block>
    </re-main>
    <re-footer background-color="#E5D5C6">
      <re-block
        align="center"
        padding-top="50px"
        padding-right="60px"
        padding-bottom="60px"
        padding-left="60px"
        background-color="#E5D5C6"
        padding="12px 24px 24px 24px"
      >
        <re-social
          margin-top="40px"
          margin-right="0"
          margin-bottom="40px"
          margin-left="0"
          align="center"
        >
          <re-social-item
            href="https://facebook.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/instagram.png"
            width="24px"
            alt="Facebook"
          ></re-social-item>
          <re-social-spacer
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer
          >
          <re-social-item
            href="https://twitter.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/fb.png"
            width="24px"
            alt="Twitter"
          ></re-social-item>
          <re-social-spacer
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer
          >
          <re-social-item
            href="https://instagram.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/youtube-dark.png"
            width="24px"
            alt="Instagram"
          ></re-social-item>
        </re-social>
        <re-spacer height="24px"></re-spacer>
        <re-text color="#3C2B24" font-size="13px" align="center">
          Copyright © 2023 Company Name All rights reserved<br />
        </re-text>
        <re-spacer height="12px"></re-spacer>
        <re-text color="#3C2B24" font-size="13px" align="center">
          You can unsubscribe from this email list
          <a
            href="https://www.peoplevine.com/"
            target="_blank"
            style="color: #3c2b24"
            >here</a
          >&nbsp;
        </re-text>
      </re-block>
    </re-footer>
  </re-body>
</re-html>
