<re-html>
  <re-options
  >{ "text": { "font-family": "Arial, sans-serif", "font-size": "12px",
    "line-height":"1.5", "color": "#3C2B24" }, "heading": { "font-family":
    "sans-serif","font-weight": "bold", "color": "#111" } }</re-options
  >
  <re-head>
    <re-title> My Email </re-title>
    <re-font
      href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i"
    ></re-font>
    <re-style>
      @media (max-width: 430px) {
        .main .block p.h1 {
          font-size: 28px !important;
        }
      }
    </re-style>
  </re-head>
  <re-body background-color="#9F9EA6">
    <re-preheader> {@preheader@} </re-preheader>
    <re-header background-color="#E5D5C6">
      <re-block
        align="center"
        padding="40px 0 0 "
        background-color="#E5D5C6"
      >
        <re-image
          src="https://peoplevine.blob.core.windows.net/media/1153/695afd4e-ac11-4503-9851-a631c1ada0e6/Mask_group.png"
          href="https://www.peoplevine.com/"
          width="102px"
        ></re-image>
      </re-block>
    </re-header>
    <re-main background-color="E5D5C6">
      <re-block
        align="center"
        padding="38px 20px 0"
        background-color="#E5D5C6"
      >
        <re-text
          align="center"
          font-size="16px"
          text-transform="uppercase"
          margin="0 0 8px"
        >
          Dear customer
        </re-text>
        <re-heading
          align="center"
          font-size="40px"
          font-weight="normal"
          line-height="100%"
          level="h1"
          text-transform="uppercase"
          margin="0 0 64px"
        >
          Reservation cancelled
        </re-heading>
        <re-text
          align="center"
          color="#3C2B24"
          font-size="12px"
          margin="0 0 24;x"
        >
          Your reservation has been cancelled by the hotel on 14/03/2023.
        </re-text>
        <re-button
          background-color="#E19C5C"
          border="1px solid #E19C5C"
          font-size="16px"
          text-transform="uppercase"
        >
          View details
        </re-button>
      </re-block>
    </re-main>
    <re-footer background-color="#E5D5C6">
      <re-block
        align="center"
        background-color="#E5D5C6"
        padding="100px 0 411px"
      >
        <re-divider height="1px" background-color="#3C2B2480"></re-divider>
        <re-spacer></re-spacer>
        <re-social align="center">
          <re-social-item
            href="https://facebook.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/instagram.png"
            width="24px"
            alt="Facebook"
          ></re-social-item>
          <re-social-spacer>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer>
          <re-social-item
            href="https://twitter.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/fb.png"
            width="24px"
            alt="Twitter"
          ></re-social-item>
          <re-social-spacer>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer>
          <re-social-item
            href="https://instagram.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/youtube-dark.png"
            width="24px"
            alt="Instagram"
          ></re-social-item>
        </re-social>
      </re-block>
    </re-footer>
  </re-body>
</re-html>

