<re-html>
  <re-options
  >{ "text": { "font-family": "Arial, sans-serif", "font-size": "14px",
    "line-height":"1.5", "color": "#3C2B24" }, "heading": { "font-family":
    "sans-serif","font-weight": "bold", "color": "#111" } }</re-options
  >
  <re-head>
    <re-title> My Email </re-title>
    <re-font
      href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i"
    ></re-font>
    <re-style>
      
      .main-block {
        padding: 64px 97px;
      }
      
      .main .button-block table[data-rex-type="button"] {
      width: 240px;
      }
      
      @media (max-width: 430px) {
  
      .main-block {
        padding: 64px 20px;
      }
  
  
      .main .button-block .column:first-of-type {
      padding: 0 0 24px;
      }
      
      .main .button-block table[data-rex-type="button"] {
      width: 100%;
      }
      }
    </re-style>
  </re-head>
  <re-body background-color="#9F9EA6">
    <re-preheader> {@preheader@} </re-preheader>
    <re-header background-color="#E5D5C6">
      <re-block
        align="center"
        padding="40px 0 0"
        background-color="#E5D5C6"
      >
        <re-image
          src="https://peoplevine.blob.core.windows.net/media/1153/695afd4e-ac11-4503-9851-a631c1ada0e6/Mask_group.png"
          href="https://www.peoplevine.com/"
          width="102px"
        ></re-image>
        <re-spacer height="24px"></re-spacer>
        <re-menu align="center">
          <re-menu-item
            font-size="16px" text-transform="uppercase"
          >
            My acount
          </re-menu-item>
          <re-menu-spacer>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-menu-spacer>
          <re-menu-item
            font-size="16px" text-transform="uppercase"
          >
            Events
          </re-menu-item>
          <re-menu-spacer>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-menu-spacer>
          <re-menu-item
            font-size="16px" text-transform="uppercase"
          >
            Support
          </re-menu-item>
        </re-menu>
        <re-spacer height="16px"></re-spacer>
        <re-divider height="1px" background-color="#3C2B2480"></re-divider>
      </re-block>
    </re-header>
    <re-main background-color="E5D5C6">
      <re-block
        align="center"
        background-color="#E5D5C6"
        class="main-block"
      >
        <re-heading
          align="center"
          font-size="40px"
          font-weight="normal"
          line-height="100%"
          level="h1"
          text-transform="uppercase"
          margin="0 0 40px"
        >
          Your voucher is here!
        </re-heading>
        <re-text
          align="left"
          margin="0 0 24px"
        >
          <b>Details</b>: Single day guest Pass <br/>
          <b>Can be used</b>: by 1 person, expires 24 hours after use. <br/>
          <b>Expires</b>: 23/04/2023 <br/>
        </re-text>
        <re-text
          align="left"
          margin="0 0 8px"
          color="#3C2B247F"
        >
          Your QR code:
        </re-text>
        <re-block
          align="left"
        >
          <re-image
            src="https://peoplevine.blob.core.windows.net/media/1087/voucher-qr-code.png"
            href="https://www.peoplevine.com/"
            width="116px"
            margin="0 0 48px"
          ></re-image>
        </re-block>
        <re-text
          align="left"
          font-size="16px"
          margin="0 0 8x"
          text-transform="uppercase"
        >
          Company info
        </re-text>
        <re-text
          align="left"
          margin="0 0 24px"
          color="#3C2B247F"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </re-text>
        <re-text
          align="left"
          font-size="16px"
          margin="0 0 8x"
          text-transform="uppercase"
        >
          Terms And Conditions
        </re-text>
        <re-text
          align="left"
          margin="0"
          color="#3C2B247F"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </re-text>
      </re-block>
    </re-main>
    <re-footer background-color="#E5D5C6">
      <re-block
        align="center"
        background-color="#E5D5C6"
        padding="0 0 25px"
      >
        <re-divider height="1px" background-color="#3C2B2480"></re-divider>
        <re-spacer></re-spacer>
        <re-social align="center">
          <re-social-item
            href="https://facebook.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/instagram.png"
            width="24px"
            alt="Facebook"
          ></re-social-item>
          <re-social-spacer>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer>
          <re-social-item
            href="https://twitter.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/fb.png"
            width="24px"
            alt="Twitter"
          ></re-social-item>
          <re-social-spacer>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer>
          <re-social-item
            href="https://instagram.com/"
            src="https://peoplevine.blob.core.windows.net/media/1153/inages/youtube-dark.png"
            width="24px"
            alt="Instagram"
          ></re-social-item>
        </re-social>
      </re-block>
    </re-footer>
  </re-body>
</re-html>


