<re-html>
  <re-options>
    { "text": { "font-family": "sans-serif", "font-size": "18px", "line-height":
    "1.5", "color": "#222" }, "heading": { "font-family": "sans-serif",
    "font-weight": "bold", "color": "#111" } }
  </re-options>
  <re-head>
    <re-title>My Email</re-title>
    <re-font
      href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i"
    ></re-font>
  </re-head>
  <re-body
    background-color="#f3f3f3"
    padding-top="20px"
    padding-right="6px"
    padding-bottom="0px"
    padding-left="6px"
  >
    <re-preheader
      >This is preheader and it will show as a preview in some mail
      clients.</re-preheader
    >
    <re-header>
      <re-block
        align="center"
        padding-top="52px"
        padding-right="52px"
        padding-bottom="0px"
        padding-left="52px"
        background-color="#fff"
      >
        <re-image
          src="https://peoplevine.blob.core.windows.net/media/1153/images/pv-logo.png"
          href="https://www.peoplevine.com/"
          width="300px"
        ></re-image>
      </re-block>
    </re-header>
    <re-main background-color="#fff" border-radius="6px">
      <re-block
        border-radius="10px"
        align="center"
        padding-top="44px"
        padding-right="52px"
        padding-bottom="0px"
        padding-left="52px"
        background-color="#fff"
      >
        <re-heading
          href="http://google.com"
          margin-top="12px"
          margin-right="0"
          margin-bottom="36px"
          margin-left="0"
          level="h1"
          color="#111118"
        >
          Welcome to PeopleVine
        </re-heading>
        <re-image
          src="https://peoplevine.blob.core.windows.net/web/assets/peoplevine_hotels_and_boutiques_f0a38adb66.jpg"
          width="447px"
        ></re-image>
        <re-text
          margin-top="36px"
          margin-right="0"
          margin-bottom="36px"
          margin-left="0"
        >
          Empower your team to deliver exceptional member experiences and
          efficiently manage operations through our integrated membership and
          CRM platform.
        </re-text>
        <re-button
          href="https://www.peoplevine.com/form"
          border-radius="0px"
          background-color="#57806E"
          color="#fff"
          font-size="14px"
          >Learn More</re-button
        >
      </re-block>
      <re-block
        padding-left="52px"
        padding-right="52px"
        padding-bottom="0px"
        padding-top="46px"
        align="center"
      >
        <re-divider
          background-color="#000000"
          height="2px"
          width="80%"
        ></re-divider>
      </re-block>
      <re-block padding-left="52px" padding-right="52px">
        <re-heading align="center" level="h2"> Highlights </re-heading>
        <re-grid>
          <re-column
            width="260px"
            padding-top="0"
            padding-right="0"
            padding-bottom="20px"
            padding-left="0"
          >
            <re-image
              href="https://imperavi.com"
              width="220px"
              src="https://imperavi.com/_email2/photo-2.jpg"
            ></re-image>
            <re-heading
              margin-top="10px"
              margin-right="0"
              margin-bottom="0"
              margin-left="0"
              href="https://example.com"
              level="h3"
            >
              The ash of stellar alchemy stirred by starlight
            </re-heading>
            <re-text color="#58585d" font-size="14px">
              With pretty stories for which there's little good evidence network
              of wormholes vanquish the impossible a mote of dust suspended in a
              sunbeam Drake Equation.
            </re-text>
          </re-column>
          <re-column-spacer width="40px"></re-column-spacer>
          <re-column
            width="260px"
            padding-top="0"
            padding-right="0"
            padding-bottom="20px"
            padding-left="0"
          >
            <re-image
              href="https://imperavi.com"
              width="220px"
              src="https://imperavi.com/_email2/photo-3.jpg"
            ></re-image>
            <re-heading
              margin-top="10px"
              margin-right="0"
              margin-bottom="0"
              margin-left="0"
              href="https://example.com"
              level="h3"
            >
              Birth something incredible is waiting to be known
            </re-heading>
            <re-text color="#58585d" font-size="14px">
              Encyclopaedia galactica two ghostly white figures in coveralls and
              helmets are soflty dancing colonies circumnavigated as a patch of
              light decipherment
            </re-text>
          </re-column>
        </re-grid>
        <re-link
          align="center"
          margin-top="40px"
          margin-right="0"
          margin-bottom="16px"
          margin-left="0"
          color="#3C887E"
          href="https://example.com/link/"
          font-weight="bold"
          font-size="20px"
        >
          Read more on our website
        </re-link>
      </re-block>
    </re-main>
    <re-footer
      padding-top="50px"
      padding-right="60px"
      padding-bottom="60px"
      padding-left="60px"
      background-color="#3A3238"
    >
      <re-block align="center">
        <re-text color="#D7D6D7" font-size="12px">
          Copyright © 2023 PeopleVine<br />
          All rights reserved <br /><br />
          222 W Merchandise Mart Plaza, Chicago, IL 60654, United States
        </re-text>
        <re-social
          margin-top="40px"
          margin-right="0"
          margin-bottom="40px"
          margin-left="0"
        >
          <re-social-item
            href="https://facebook.com/"
            src="https://imperavi.com/_email2/facebook-logo.png"
            width="24px"
            alt="Facebook"
          ></re-social-item>
          <re-social-spacer
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer
          >
          <re-social-item
            href="https://twitter.com/"
            src="https://imperavi.com/_email2/twitter-logo.png"
            width="24px"
            alt="Twitter"
          ></re-social-item>
          <re-social-spacer
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</re-social-spacer
          >
          <re-social-item
            href="https://instagram.com/"
            src="https://imperavi.com/_email2/instagram-logo.png"
            width="24px"
            alt="Instagram"
          ></re-social-item>
        </re-social>
        <re-text color="#D7D6D7" font-size="12px">
          You subscribed to this newsletter because you agreed to receive our
          monthly news shot when you registered your email on
          <a href="https://peoplevine.com" style="color: #fff"
            >https://www.peoplevine.com</a
          >. To unsubscribe, click
          <a href="https://peoplevine.com" style="color: #fff">Unsubscribe</a>.
        </re-text>
      </re-block>
    </re-footer>
  </re-body>
</re-html>
